<!DOCTYPE html>
<html lang="en">
    <style>
        html { 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }
          
          .text2{
            position: absolute;
            font-size: 14px;
            margin-left: 800px;
            margin-top: 200px;
            color: black;
          
          }
          
          .h1{
          font-size: 50px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-style: initial;
          color: black;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
          
          .img{
            position: absolute;
            width: 500px;
            height: 300px;
            left: 126.41px;
            top: 210px;
            border-radius: 33px;
          }
          .text3{
          position: absolute;
          font-size: 30px;
          margin-left: 800px;
          margin-top: 300px;
          color: black;
          }
          
          .text6{
            position: absolute;
            font-size: 14px;
            margin-left: 800px;
            margin-top: 1000px;
            color: black;
          }
          
          
          .h1{
          font-size: 50px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-style: initial;
          color: black;
          }
          
          .img2{
            position: absolute;
            width: 400px;
            height: 300px;
            left: 120px;
            top: 1000px;
            border-radius: 33px;
          }
          .text7{
          position: absolute;
          font-size: 30px;
          margin-left: 800px;
          margin-top: 1100px;
          color: black;
          }
          
          
          
          
          .text8{
            position: absolute;
            font-size: 14px;
            margin-left: 100px;
            margin-top: 1350px;
            color: black;
          
            
            }
            
            .h1{
            font-size: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: initial;
            }
            
            .img3{
            position: absolute;
            width: 400px;
            height: 300px;
            left: 1200px;
            top: 1320px;
            border-radius: 33px;
            }
          
            .text9{
            width: 900px;
            height: 200px;
            /* border: 2px solid red;*/
            position: absolute;
            font-size: 30px;
            margin-left: 100px;
            margin-top: 1440px;
            color: black;
            color: black;
            /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
          
            }
          
            .text10{
              position: absolute;
              font-size: 14px;
              margin-left: 800px;
              margin-top: 1700px;
              color: black;
            
            
            }
            .h1{
            font-size: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style: initial;
            }
            
            .img4{
              position: absolute;
              width: 400px;
              height: 300px;
              left: 126.41px;
              top: 1700px;
              border-radius: 33px;
            }
          
            .text11{
            position: absolute;
            font-size: 30px;
            margin-left: 800px;
            margin-top: 1800px;
          color: black;
            
            }
          
            .con{
               margin-top: 1900px;
              text-align: center;
              display:flex;
              height:150px;
              justify-content: center;
              align-items: center;
          }
          
          .con a:hover{
              color: blue;
              font-size: 30px;
          }
          
          .con a{
          color: black;
            /* bottom: 100px; */
              display: flex;
              justify-content: center;
              padding: 40px;
              font-size: 40px;
          }
          
          .end{
              top:1800px;
              padding:10px;
              text-align: center;
              font-size: 40px;
          
          }
          
          
          * {
            margin: 0px;
            padding: 0px;
          }
          
          
          
          
          
          * {
            margin: 0px;
            padding: 0px;
          }
          
          nav {
            display: flex;
            text-align: center;
          margin-top: 30px;
          
          
            
            width: 100%;
          
          }
          .nav a{
            margin-top: 80px;
            margin-left: 50px;
          }
          
          
          
          .logo img {
            width: 100px;
            height: 100px;
            margin-left: 30px;
            border-radius: 100px;
          }
          
          .logo {
            padding: 10px 30px;
          }
          
          .bar a {
            padding: 70px;
            margin-top: 20px;
            text-decoration: none;
            color: black;
            font-size: 40px;
          
          
          }
          
          a:hover {
            color: blue;
          }
          
          .left {
            margin: 20px 0px 0px 610px;
            padding: 0px;
            height: 35px;
            background-color: black;
          }
          
          .left:hover {
            margin: 20px 0px 0px 610px;
            padding: 0px;
            height: 35px;
            font-size: 15px;
            background-color: black;
          }
          
          #home {
            display: flex;
            flex-direction: column;
            padding: 10px 200px;
            align-items: center;
            justify-content: center;
          
          }
          
          .main {
            padding: 30px;
            font-size: 50px;
            color: black;
          
          }
          
          .content {
            padding: 5px;
            color: black;
            font-size: 18px;
           text-align: center;
          }
          
          
          .text4{
          position: absolute;
          font-size: 14px;
          margin-left: 100px;
          margin-top: 600px;
          color: black;
          
          
          /* or 119% */
          color: #061641;
          
          }
          
          .h1{
          font-size: 50px;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-style: initial;
          }
          
          .img1{
          position: absolute;
          width: 400px;
          height: 300px;
          left: 1200px;
          top: 600px;
          border-radius: 33px;
          }
          .text5{
          width: 900px;
          height: 200px;
          /* border: 2px solid red;*/
          position: absolute;
          font-size: 30px;
          margin-left: 100px;
          margin-top: 680px;
          color: black;
          
          }
          
    </style>

<head>
  
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="con1">
  <img src="/images/h1.jpg" class="img">
  <p class="text2"><span class="h1">Entertainment within Reach</span></p>
  <p class="text3">
    Entertainment on your seatback screen including
     12 channels of live satellite TV along 
     with the latest movies, premium TV series
      from HBO®, Hulu® and Showtime®,  podcasts, playlists and games..</p>
</div>


<div class="con2">
       <img src="/images/h2.jpg" class="img1">
       <p class="text4"><span class="h1">ENJOY FREE MESSAGING IN-FLIGHT</span></p>
       <p class="text5">Now you can stay connected to friends,
         family and colleagues while on board with Free Messaging
          courtesy of Delta. To begin messaging, connect to in-flight 
          Wi-Fi and select the “Free Messaging” pass.

        .</p>
</div>


<div class="con3">
    <img src="/images/h3.jpg" class="img2">
    <p class="text6"><span class="h1">A BETTER DINING EXPERIENCE</span></p>
    <p class="text7"> 
      To begin messaging, connect to in-flight Wi-Fi and select the “Free Messaging” pass.
      To begin messaging, connect to in-flight Wi-Fi and select the “Free Messaging” pass..</p>
  </div>

  <div class="con4">
    <img src="/images/h4.jpg" class="img3">
    <p class="text8"><span class="h1">REQUEST MEALS IN ADVANCE</span></p>
    <p class="text9">
      TV along 
     with the latest movies, premium TV series
      from HBO®, Hulu® and Showtime®,  podcasts, playlists and games.Need a special meal? Delta offers 11 diet-and religious-friendly meals to serve all passenger.
    To begin messaging, connect to in-flight 
    Wi-Fi and select the “Free Messaging” pass.
    </p>
  </div>

<div class="con5">
    <img src="/images/h5.jpg" class="img4">
    <p class="text10"><span class="h1">BOARD THE AIRCRAFT   </span></p>
    <p class="text11">Enjoy 1,000+ hours of free entertainment on your seatback
       screen including 12 channels of live satellite TV
        along with the latest movies, premium TV series
         from HBO®, Hulu® and Showtime®,  podcasts, playlists and games.</p>
  </div> 

  <header>
    <nav>
       
   <div class="bar">
        <a href="airlines.html">Home</a>
        <a href="aboutus.html">About us</a>
       
        <a href="services.html">Our Offers</a>
        <a href="">Services</a>
        <a href="faqs.html">FAQ</a>
    </div>
    </nav>
</header>

  <div class="contact">
    <h2 class="end"></h2>
    <div class="con">
     <a  href="https://mail.google.com/mail/u/0/#inbox">Mail us </a>
     <a  href="https://twitter.com/">Twitter</a>
     <a href="https://www.instagram.com/">Instagram</a>
     <a href="https://www.facebook.com/">Facebook</a>
     <a href="https://www.youtube.com/">Youtube</a>
    </div>
</div>
</div>


</body>

</div>



</body>
</html>